body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #222;
  width: 200px;
  height: 300px;
  overflow: hidden;
  margin: 0;
}

.header {
  background-color: #1d1d1d;
  padding: 4px;
  text-align: right;
  border-bottom: 2px solid #0f0f0f;
}

.container {
  margin: 20px;
}

.functionality {
  margin-bottom: 10px;
}

.icon {
  width: 25px;
  height: 25px;
}